<div class="row">
<%= simple_form_for @adventure, :html => {:class => 'custom'} do |f| %>
    <div class="small-2 large-4 columns"></div>
      <%= f.text_field :destination %><br />
    <div class="switch">
    <%= f.label "Outside" %>
    <%= f.check_box :price %>

      </div>
      <%= f.submit %>
<% end %>

</div>
</div>