<%= form_for @adventure, :html => {:class => 'custom'} do |f| %>
    <%= f.text_field :destination %><br />
    <div class="switch" "custom">
    <%= f.label "Outside" %>
    <%= f.check_box :price %>

      </div>
   <%= f.submit %>
<% end %>

