<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if current_explorer != nil %>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= @current_explorer %> </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <% if current_explorer != nil %>
      <ul class="right">
        <li class="active"><%=link_to "EMBARK!", adventure_path(session['explorer_id']) %></li>
       <% else %>
            <li>Get Out There</li>
          <% end %>
        <li class="has-dropdown">
          <a href="#">Manage Provisions</a>
          <ul class="dropdown">

            <li class="active"><%= link_to "Create Adventure",new_adventure_path(session['explorer_id']) %></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li>
          <% if current_explorer != nil %>
              <%= link_to "Log Out", sessions_path, method: :delete %>

          <% else %>
              <%= link_to "Sign Up", new_explorer_path %></li>
          <% end %>
              </ul>
    </section>
  </nav>
     <% else %>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Log In", new_sessions_path %></h1>

      <% end %>

    <%= yield %>

  </body>

</html>
